.restart-buttons {
  display: flex;
  gap: 20px;
}

.restart-button {
  font-family: 'VT323', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding: 1px 5px;
  background-color: transparent;
  color: rgb(255, 181, 54);
  border: none;
  cursor: pointer;
}

.restart-button:hover,
.restart-button.selected {
  background-color: rgb(255, 181, 54);
  color: white;
}
