.button {
  position: relative;
  top: -30px;
  padding: 12px 120px;
  font-size: 18px;
  background: linear-gradient(-60deg, #d45c00, #f9aa2e, #f9aa2e, #d45c00);
  background-size: 200% 100%; /* Make it twice as wide to allow movement */
  background-position: 0% 0%;
  transition: background-position 0.4s ease;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
}

.button:hover {
  background-position: 100% 0%; /* Shift the gradient to the right */
}
