* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-left: 60px;
  font-family: 'Lora', serif;
  /* background-color: #1e1a19; */
  color: white;
}

.app {
  display: flex;
  height: 100vh;
}
